.btn {
    background: $primary-color;
    padding: .5rem 2rem;
    border: 2px solid $primary-color;
    color: #fff;
    border-radius: 100px;
    display: inline-block;
    transition: background 200ms ease-in-out;
    font-weight: bold;
    box-shadow: 0px 0px 26px rgba(229, 0, 100, 0.25);

    &:hover {
        border: 2px solid $primary-color;
        background: transparent;
        color: $primary-color;
    }
}

.btn--arrow {
    display: inline-flex;
    align-items: center;

    img {
        margin-left: 1rem;
    }

    &:hover {
        img {
            filter: brightness(0%);
        }
    }
}

.btn--image-arrow {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    padding: 0.25rem 2rem;

    img {
        margin-left: 1rem;
    }

    img.person {
        margin: 0;
        margin-right: 1rem;
        width: 34px;
        height: 34px;
        object-fit: cover;
        border-radius: 50%;
    }

    &:hover {
        img {
            filter: brightness(0%);
        }
        img.person {
            filter: brightness(1);
        }
    }
}

@media only screen and (max-width: 767px) {
    .btn--image-arrow {
        font-size: 13px;
        padding: .25rem 1.5rem;
    }
}