footer.site-footer {
    padding: 3rem 0;
    background: #fff;

    .site-footer__wrap {
        .site-footer__block {
            width: 25%;

            p, * {
                font-size: 14px;
            }

            a {
                color: #000;
                text-decoration: underline;
            }

            img {
                max-width: 150px;
                width: 100%;
                margin-bottom: 2rem;
            }

            .title {
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
            }

            .link {
                display: block;
            }

            .icon {
                width: 15px;
                height: 15px;
                object-fit: contain;
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    footer.site-footer {
        .site-footer__wrap {
            flex-wrap: wrap;
            gap: 3rem 0;
            
            .site-footer__block {
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    footer.site-footer {
        .site-footer__wrap {
            gap: 1.5rem 0;
            
            .site-footer__block {
                width: 100%;
            }
        }
    }
}