.banner {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);

    .container {
        background: #fff;
        height: 120px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom-right-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img.custom-logo {
            height: 100%;
            width: auto;
        }
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        .container {
            height: 80px;
            padding-top: 12px;
            padding-bottom: 12px;

            .btn {
                font-size: 12px;
                transform: scale(.8);
                transform-origin: 100% 100%;
                padding: .5rem 1rem;
            }
        }
    }
}