html {
    scroll-behavior: smooth;

}

html,
body {
    background: $background;
}

* {
    color: $font-color;
}

span.red {
    color: $primary-color;
}

h1, h2, h3 , h4, h5 {
    font-weight: 500;
}

.text--line {
    padding-left: 4rem;
    position: relative;
    color: #595856;
    font-weight: 300;
    font-size: 12px;

    &::before {
        content: '';
        position: absolute;
        height: 1px;
        background: #595856;
        width: 3.5rem;
        left: 0;
        top: .5rem;
    }
}

.circles {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1;
    padding: 1rem;
    z-index: 1;
}

.hero-intro {
    padding-top: 90px;
    overflow: hidden;

    .left-text {
        width: 40%;
        margin-bottom: 2.5rem;

        h1 {
            font-size: 35px;
            font-weight: 700;
            line-height: 45px;
            margin-bottom: 26px;

            span.red {
                font-size: 35px;
                font-weight: 700;
                line-height: 45px;
                color: $primary-color;
            }
        }

        p {
            font-size: 15px;
            line-height: 24px;
            opacity: 0.8;
            flex-grow: 2;
        }

        .border-item {
            width: 80px;
            background: $font-color;
            height: 1px;
            content: "";
            display: block;
            margin-right: 16px;
            margin-top: 12px;
        }

        .content {
            margin-bottom: 36px;
        }
    }

    .right-visual {
        width: 60%;
        position: relative;

        .speech-bubble {
            display: inline-block;
            background: #fff;
            padding: 28px;
            border-radius: 25px;
            text-align: center;
            transition: 300ms ease-in-out;

            span {
                font-weight: 700;
                font-size: 18px;
                color: $primary-color;
            }
        }

        .animate {
            transform: scale(1.5);
        }

        .sp-1 {
            position: absolute;
            left: 0;
            top: 60px;
        }

        .sp-2 {
            position: absolute;
            right: -30px;
            bottom: 80px;
        }

        img {
            width: 65%;
            height: auto;
            margin: 0 auto;
        }
    }
}

.btn--red {
    padding: 5px 20px;
    background: $primary-color;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 25px;
    border: none;
}

.bottom-section {
    z-index: 2;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 50%);
    .container {
        padding: 60px 5px 60px 60px;
        background: #fff;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;

        .right,
        .left {
            width: 50%;
            padding-right: 26px;

            p {
                font-size: 15px;
                opacity: 0.8;
            }

            h2 {
                margin-bottom: 16px;
                font-size: 22px;
                font-weight: medium;
            }
        }
    }
}

section.companies-slider {
    padding-top: 90px;
    padding-bottom: 90px;
    overflow: hidden;

    h2 {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;

        .red {
            font-size: 35px;
            font-weight: 700;
            letter-spacing: 1px;
            color: $primary-color;
        }
    }
    .companies-slider__wrap {
        .companies-slider__swiper {
            .swiper-wrapper {
                .swiper-slide {
                    .logo {
                        border-radius: 50%;
                        padding: 1rem;
                        width: 118px;
                        height: 118px;
                        background: #FFF;
                        overflow: hidden;
                        transform: translateY(50%);
                        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.07));
                        
                        img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .text {
                        background: #FFF;
                        padding: 5rem 1.5rem 1.5rem 1.5rem;
                        border-radius: 0px 25px 25px 25px;
                    }
                }
            }
        }
        .companies-nav {
            .companies-next,
            .companies-prev {
                &:hover {
                    cursor: pointer;
                }
            }
            .swiper-button-disabled {
                opacity: .45;
            }
        }
    }
}

section.contact {
    padding: 5rem 0;
    border-radius: 25px;
    background: #fff;

    .contact__wrap {
        gap: 4rem;

        .info {
            width: 50%;

            p.label {
                text-transform: uppercase;
                font-weight: bold;
                color: #59585688;
                font-size: 13px;
            }

            h2.title {
                font-weight: 500;
            }
        }
        .form {
            width: 50%;
            background: $primary-color;
            border-radius: 25px;
            padding: 2.75rem;

            input:not(input[type="submit"]), textarea {
                color: rgba(255, 255, 255, 0.9);
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.7);
                background: transparent;
                font-size: 12px;
                padding: .5rem 0;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.7);
                }

                &:focus {
                    outline: none;
                }
            }

            textarea.large {
                height: 125px;
            }

        

            .gform_footer {
                position: relative;

                &::before {
                    content: url(../images/user.jpg);
                    position: absolute;
                    left: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 34px;
                    height: 34px;
                    object-fit: cover;
                    border-radius: 50%;
                    overflow: hidden;
                }


                &::after {
                    content: url(../images/right.svg);
                    margin-left: 1rem;
                    position: absolute;
                    left: 150px;
                    top: calc(50% - .25rem);
                    transform: translateY(-50%) scale(.8);
                    width: 15px;
                    height: 15px;
                }

                input[type="submit"] {
                    background: #fff;
                    border: 2px solid #fff;
                    color: #000;
                    border-radius: 100px;
                    transition: background 200ms ease-in-out;
                    font-weight: bold;
                    box-shadow: 0px 0px 26px rgba(229, 0, 100, 0.25);
                    display: inline-flex;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 0.5rem 4rem;
                    margin: 0;
                
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

section.roadmap {
    padding: 5rem 0;

    .roadmap__wrap {
        h2.title {
            font-weight: 500;
            margin-bottom: 5rem;
        }

        .roadmap__map {
            display: flex;
            flex-direction: column;
            
            .roadmap__item {
                background: #fff;
                border-radius: 25px;
                padding: 4rem 2rem 1.5rem 2rem;
                margin-bottom: 70px;
                max-width: 486px;
                position: relative;
                // float: left;
                align-self: flex-start;
                margin-left: 50px;

                &::before {
                    content: '';
                    height: 110px;
                    width: 1px;
                    background: repeating-linear-gradient(
                        $primary-color,
                        $primary-color 3px,
                        transparent 3px,
                        transparent 6px
                      );
                    position: absolute;
                    left: 120px;
                    top: 100%;
                }

                &::after {
                    content: '';
                    height: 1px;
                    width: 100%;
                    background: repeating-linear-gradient(
                        90deg,
                        $primary-color,
                        $primary-color 3px,
                        transparent 3px,
                        transparent 6px
                      );
                    position: absolute;
                    left: 120px;
                    top: calc(100% + 110px);
                }


                .circleimg {
                    position: absolute;
                    // left: calc(-158px / 2);
                    // top: calc(-158px / 2);
                    top: 0;
                    left: -50px;
                    transform: translateY(calc(-158px / 2));
                    width: 158px;
                    height: 158px;
                }
                .circles {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:nth-child(even) {
                    // float: right;
                    align-self: flex-end;
                    margin-right: 50px;

                    &::before {
                        left: unset;
                        right: 120px;
                    }

                    &::after {
                        left: unset;
                        right: 120px;
                    }

                    .circleimg {
                        left: unset;
                        right: -50px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;

                    &::after {
                        display: none;
                    }
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

section.images {
    padding: 5rem 0;
    border-radius: 25px;
    background: #fff;
    clear: both;
    overflow-y: visible;

    .images__wrap {
        overflow-x: clip;

        .info {
            width: 45%;
        }
        .images {
            width: 50%;

            img {
                border-radius: 50%;
                object-fit: cover;
                aspect-ratio: 1;
            }

            .middle-images {
                width: 100%;
                position: relative;
                z-index: 1;
            }

            .top_image {
                position: relative;
                transform: translateX(3rem);

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 250px;
                    height: 250px;
                    border: 3px dotted $primary-color;
                    border-radius: 50%;
                    opacity: 0.5;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 339px;
                    height: 339px;
                    border: 3px dotted $primary-color;
                    border-radius: 50%;
                    opacity: 0.15;
                }
                img {
                    width: 159px;
                }
            }

            .left_image {
                img {
                    width: 188px;
                }
            }

            .right_image {
                img {
                    width: 150px;
                }
            }


            .bottom_image {
                position: relative;
                transform: translateX(-3rem);

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 250px;
                    height: 250px;
                    border: 3px dotted $primary-color;
                    border-radius: 50%;
                    opacity: 0.5;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 339px;
                    height: 339px;
                    border: 3px dotted $primary-color;
                    border-radius: 50%;
                    opacity: 0.15;
                }
                img {
                    width: 150px;
                }
            }
        }
    }
}

section.cases {
    padding: 5rem 0 7rem 0;

    .cases__wrap {
        h2.title {
            margin-bottom: 3rem;
        }

        .cases__grid {
            .case {
                background: #fff;
                border-radius: 25px;
                overflow: hidden;

                img.image {
                    height: 150px;
                    width: 100%;
                    object-fit: cover;
                }

                .text {
                    padding: 2rem 1.5rem;
                }
            }
        }
    }
}

section.circletext {
    padding: 5rem 0 1rem 0;
    overflow: hidden;

    .circletext__wrap {
        .circles {
            padding: 30px;
        }
        .outer {
            width: 500px;
        }
        .inner {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                opacity: 0.8;
                color: #595856;
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width: 1089px) {

}

@media only screen and (max-width: 945px) {
    section.cases { 
        .cases__wrap { 
            .cases__grid {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 27px;
    }
    .text--line {
        padding-left: 2rem;

        &::before {
            width: 1.5rem;
        }
    }

    section.hero-intro {
        .top-section {
            flex-wrap: wrap;

            .left-text {
                width: 100%;

                h1 {
                    font-size: 32px;
                    line-height: 37px;
                    .red {
                        line-height: 37px;
                        font-size: 32px;
                    }
                }

                .btn {
                    margin-left: 1.5rem;
                }
            }
            .right-visual {
                width: 100%;

                .speech-bubble {
                    transform: scale(.7);
                }
            }
        }
        .bottom-section { 
            .container { 
                flex-wrap: wrap;
                padding: 60px 1rem 60px 1rem;

                .left {
                    width: 100%;
                    padding: 0;
                    padding-bottom: 1rem;
                }
                .right {
                    padding: 0;
                    width: 100%;
                }
            }
        }
    }

    section.contact { 
        .contact__wrap { 
            flex-wrap: wrap;
            
            .info {
                width: 100%;
            }
            
            .form {
                width: 100%;
                padding: 2rem;
            }
        }
    }

    section.roadmap { 
        padding: 5rem 0;

        .roadmap__wrap { 
            .roadmap__map { 
                .roadmap__item {
                    width: calc(100% - 50px);
                    max-width: unset;
                    padding: 2.5rem 1rem 1rem 1rem;

                    .text {
                        p {
                            font-size: 14px;
                        }
                    }

                    .circleimg {
                        transform: scale(.7) translateY(calc(-220px / 2));
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    section.companies-slider { 
        h2 {
            font-size: 27px;

            .red {
                font-size: 27px;
            }
        }
        .companies-slider__wrap { 
            .companies-nav {
                margin-top: 1.5rem;
                transform: scale(.7);
                transform-origin: 0 0;
            }
        }
    }

    section.images { 
        .images__wrap { 
            flex-wrap: wrap-reverse;
            
            .info {
                width: 100%;

                .btn {
                    margin-left: 1.5rem;
                }
            }
            
            .images {
                width: 100%;
                transform: scale(.85);
                margin-bottom: 2rem;
            }
        }
    }
    section.circletext { 
        .circletext__wrap { 

            .title {
                font-size: 24px;
            }
            .circles {
                padding: 1rem;
            }
            .outer {
                width: 100%;
            }
        }
    }
}